.slider{
    /* width: 100vw; */
    margin: 5rem 5rem .5rem 5rem;
    background-image: url("../img-1.jpeg");
    background-repeat: no-repeat;
    height: 100vh;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.img-responsive{
    width: 100%;
    height: auto;
    /* max-width: 400px; */
}

.row{
    color: #fff;
    display:flex;
    padding:1rem;

}

.arrows{
    display: flex;
    justify-content: space-between;
}

.caption{
    display: flex;
    justify-content: center;
}

.controls{
    display: flex;
    justify-content: center;
}

.control{
    padding:.2rem;
}