.nav-center {
  display: flex;
  width: 100%;
  background-color: rgb(233, 231, 231);
  flex-wrap: wrap;
}

.links {
  display: none;
  margin: 1rem;
  list-style-type: none;
}

.links li {
  margin-left: 2rem;
}

.nav-toggle {
  margin-left: auto;
}

@media screen and (min-width: 800px) {
  .nav-toggle {
    display: none;
  }

  .links {
    display: flex;
    margin: 1rem;
  }
}
.toggled-link {
  transition: opacity 3s ease-out;
  opacity: 0;
}
@media screen and (max-width: 800px) {
  .toggled-link {
    display: flex;
    opacity: 1;
    flex-direction: column;
    order: 3;
    flex-basis: 100%;
    transition: display 33s;
  }

  .links.toggled-link li {
    padding: 0.2rem;
  }
}
